.breadcrumbs
	display flex
	font-size 10px
	color #b6b7b9
	&__item
		position relative
		padding-right 10px
	&__link
		text-transform none
		text-decoration none
		color #b6b7b9
		&[href]::after
			position absolute
			top 0
			right -4px
			width 10px
			height 10px
			content ' / '
