include ../breadcrumbs/breadcrumbs
include ../gallery/gallery
include ../filter/filter
include ../specifications/specifications
include ../request/request
include ../icon/icon

mixin furniture(data)
	+b.furniture&attributes(attributes)
		+e.container.container
			+e.description
				+e('h1').title= data.title
				if data.breadcrumbs
					+breadcrumbs(data.breadcrumbs)
				if data.text
					each paragraph in data.text
						if paragraph.title
							+e('h3').subtitle= paragraph.title
						+e('p').text= paragraph.paragraph
				if data.filter
					+filter(data.filter)
				if data.specifications
					+specifications(data.specifications)
				if data.request
					+request(data.request)
					+e.print
						+icon('print').print-icon
			+gallery(data.gallery)(class=data.galleryClass)