.furniture
	display block
	padding-top 115px
	&__container
		padding-left (80/1600*100)%
		display flex
		justify-content space-between
		min-height 690px
		background-image url('../images/bg_furniture.jpg')
	&__title
		margin-bottom 10px
		font-size 26px
		text-transform uppercase
	&__description
		width (625/1600*100)%
	&__text
		margin-bottom 30px
		color fontParagraph
		font-size 18px
		line-height 1.3
		&:first-of-type
			margin-top 50px
		&:last-child
			margin-bottom 0
