.filter
	display block
	&__title
		margin-bottom 15px
		font-family fontDisplay
		font-size 18px
		color fontParagraph
	&__container
		display flex
		justify-content space-between
		flex-wrap wrap
		width 535px
	&__item
		position relative
		width 255px
		height 95px
		&:first-child
			margin-bottom 15px
		&--active .modal
			display block
	&__item-label
		position absolute
		left 0
		bottom 0
		padding-left 10px
		width 100%
		line-height 25px
		color #fff
		background-color rgba(0, 0, 0, .5)
