.contacts
	display flex
	&__link
		display flex
		align-items center
		text-decoration none
		cursor pointer
		color fontGrey
	&__icon
		margin 0 5px 0 25px
		fill #252a35
		&--address
			margin-left 0
			width 11px
			height 16px
		&--mail
			width 14px
			height 10px
		&--phone
			width 14px
			height 14px
