extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/furniture/furniture
include /blocks/footer/footer

block head
	- var pageTitle = 'Портфолио - Derevo Groupe';

block content
	+header()
	+furniture(getData('portfolio'))
	+footer(getData('footer'))(class="container")
