.header
	position relative
	display block
	&::after
		position absolute
		content ""
		bottom 20px
		left 0
		width 100%
		height 2px
		background-color fontGrey
		z-index -1
	&__container
		display flex
		padding 35px 80px 10px 90px
	&__logo
		margin-right 90px
		display block
	&__search-form
		margin-left auto
		padding-top 20px
		display flex
	&__search-input
		margin-right 10px
		height 37px
		font-size 12px
		font-family fontDisplay
		text-transform uppercase
		text-align right
		border none
	&__search-icon
		margin-top 5px
		width 18px
		height 18px
