.request
	display inline-block
	margin 75px 10px 0 0
	&__button
		padding 11px 50px
		width 320px
		color #fff
		font-size 24px
		font-family fontDisplay
		text-transform uppercase
		background-color fontParagraph
		cursor pointer
	&__modal
		display none
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba(63, 67, 65, 0.8)
		z-index 1000
	&__modal-window
		position fixed
		top 50%
		left 50%
		width 350px
		height 290px
		background-color #fff
		transform translate(-50%, -50%)
		z-index 2000
