.request
	margin 75px 10px 0 0
	display inline-block
	&__button
		padding 11px 50px
		width 320px
		font-family fontDisplay
		font-size 24px
		text-transform uppercase
		cursor pointer
		color #fff
		background-color fontParagraph
	&__modal
		position fixed
		z-index 1000
		top 0
		left 0
		display none
		width 100%
		height 100%
		font-family fontDisplay
		color fontParagraph
		background-color rgba(63, 67, 65, .8)
	&__modal-window
		position fixed
		z-index 2000
		top 50%
		left 50%
		padding 20px 40px
		width 350px
		height 290px
		background-color #fff
		transform translate(-50%, -50%)
	&__modal-title
		margin-bottom 10px
		font-size 18px
		text-align center
	&__field
		margin-top 10px
		width 275px
		height 40px
		font-size 14px
		line-height 40px
		text-align center
		color fontParagraph
		border 1px solid fontParagraph
	&__submit
		margin-top 25px
		width 275px
		height 40px
		font-size 14px
		line-height 40px
		text-align center
		text-transform uppercase
		color #fff
		background-color fontParagraph
		border none
	&__close
		position absolute
		top -12px
		right -12px
		width 25px
		height 25px
		background-color fontParagraph
		border none
		&::before, &::after
			position absolute
			top 11px
			left 2px
			width 20px
			height 2px
			content ''
			background-color #fff
			transform rotate(55deg)
		&::after
			transform rotate(-60deg)
