.footer
	padding-left 85px
	display flex
	justify-content flex-end
	flex-wrap wrap
	min-height 30px
	font-size 12px
	text-transform uppercase
	color fontGrey
	&__copyright
		margin-right auto
		line-height 30px