.socials
	display flex
	justify-content flex-end
	margin-left 65px
	&__item
		display flex
		justify-content center
		align-items center
		width 47px
		height 30px
		&:nth-child(1)
			background-color #252a35
		&:nth-child(2)
			background-color #3b424f
		&:nth-child(3)
			background-color #4f5766
		&:hover .socials__icon
			opacity 0.5
	&__icon
		fill #fff
		&--vk
			width 17px
			height 9px
		&--fb
			width 8px
			height 14px
		&--instagram
			width 13px
			height 13px